<md-sidenav-container detect-scroll (onScroll)="handleScroll($event)" class="container">
  <md-sidenav #sidenav class="sidenav">
    <img style="width:100%;" src="http://i.annihil.us/u/prod/marvel/i/mg/c/e0/535fecbbb9784.jpg" />
  </md-sidenav>
  <div class="sidenav-content">
    <ul class="heroes">
      <li *ngFor="let hero of heroes">
        <button class="heroWrapper" type="button" md-button (click)="sidenav.open()">
          <img src="{{hero.thumbnail.path}}.{{hero.thumbnail.extension}}" />
          <span class="name">{{hero.name}}</span>
        </button>
      </li>
    </ul>
  </div>
</md-sidenav-container>
