<div detect-scroll (onScroll)="handleScroll($event)" class="container">
  <!-- CONTENT - HEROES -->
  <div class="sidenav-content">
    <div *ngIf="show">
      <ul class="heroes">
        <li *ngFor="let hero of heroes['searchedHeroes']">
          <button (click)="handleSidenav(hero)" class="heroWrapper">
            <img src="{{hero.thumbnail.path}}.{{hero.thumbnail.extension}}" />
            <span class="name">{{hero.name}}</span>
          </button>
        </li>
      </ul>
    </div>
    <!-- CONTENT - SEARCHED HEROES -->
    <div *ngIf="!show">
      <ul class="heroes">
        <li *ngFor="let hero of heroes['heroes']">
          <button (click)="handleSidenav(hero)" class="heroWrapper">
            <img src="{{hero.thumbnail.path}}.{{hero.thumbnail.extension}}" />
            <span class="name">{{hero.name}}</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
