:host {
  background-color: rgb(25,25,25);
  color: #fff;
  position: fixed;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20%;
  min-width: 250px;
  z-index: 9999;
}

.sidenav-text {
  padding: 1.5em 1.5em 0 1.5em ;
}

.close {
  position: absolute;
  right: 0;
  margin: 3px;
  border-radius: 15px;
}
