$primary-color: rgb(240,20,30);
$secondary-color: rgb(10,10,10);
$sidebar-color: rgb(25,25,25);
$white: rgb(240,240,240);
$img-width: 250px;
$img-height: 250px;

:host {
  background-color: $sidebar-color;
  color: #fff;
  position: fixed;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: $img-width;
  z-index: 9999;
}

.sidenav-img {
  width: $img-width;
  height: $img-height;
}

.sidenav-text {
  padding: 0 1.5em;
}

.sidenav-more {
  width: 100%;
  padding: 7px;
  border-radius: 4px;
  background-color: $primary-color;
  border-color: $primary-color;
  color: $white;
}

.close {
  position: absolute;
  right: 0;
  margin: 5px;
  font-weight: bold;
  border-radius: 11px;
  border-color: $primary-color;
  color: $primary-color;
  background-color: $white;
}

.description {
  max-height: 120px;
  overflow: scroll;
}

.related-hero {
  display: inline-flex;
  margin-bottom: 18px;
  margin-right: 8px;
}

.related-hero span {
  font-weight: lighter;
  color: $primary-color;
}

span {
  font-size: 14px;
  max-height: 120px;
  overflow: scroll;
}
