$primary-color: rgb(240,20,30);
$secondary-color: rgb(10,10,10);
$sidebar-color: rgb(25,25,25);
$white: rgb(240,240,240);

input {
  background-color: $primary-color;
  color: $white;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 12px;
}

::-webkit-input-placeholder {
  color: $white;
  padding-left: 8px;
}

::-moz-placeholder {
  color: $white;
  padding-left: 8px;
}
